
#mydiv {
  position: absolute;
   z-index:  1;
  background-color: #f1f1f1;
  background-color: #2196F3;
  text-align: center;
 /* top:0 px;
 right: 60 px; */
  border: 2px solid #030000;
  border-radius: 5px 5px 5px 5px;
 
}
#norm {
  text-align: left;
  background-color: #f1f1f1;
  /* font-size: 22px; */
  padding: 10px;
  border-radius: 0px;
}
#mydivmain {
  text-align: center;
  background-color: #f1f1f1;
  /* font-size: 22px; */
  padding: 10px;
  border-radius: 0px;
}
#mydivmain2 {
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 0px;
  padding: 10px;
}
#mydivbottom {
  background-color: #2196F3;
  color: #fff;  
  border-radius: 0 0 5px 5px;
  height:35px;
  padding: 10px;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  background-color: #2196F3;
  color: #fff;  border-radius: 5px 5px 0 0;
}

#draggable-elem {
  position: absolute;
  background-color: #ffffff;
  font-size: 1.6em;
  width: 7em;
  height: 7em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: grid;
  place-items: center;
  font-family: "Poppins", sans-serif;
  border-radius: 0.3em;
  cursor: move;
}
.stick {
position:sticky;
top:0;

}